<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>MVC With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="icon" src="/public/assets/img/burger.jpeg"></img>
         <title>Eat-Da-Burger App</title>

     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./public/assets/css/burger_style.css" type="text/css" />
    </head>
	<body>
		{{{ body }}}
	</body>
</html>